@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.e-grid {
  margin: 30px;
}

.e-grid td.e-active {
  background-color: #B3DCD6;
}

.e-pager .e-currentitem, 
.e-pager .e-currentitem:hover, 
.e-pager .e-currentitem.e-numericitem.e-focused {
  background-color: #B3DCD6;
  box-shadow: none;
  color: #038672;
  font-weight: 700;
}

.e-gridpager {
  padding-bottom: 150px;
}

.position-id {
  color: #68a6d3;
}

.status-Asset, .status-Organization, .status-Component, .status-Unit, .status-System, .status-Facility {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d3130;
}

.status-Asset  {
  background-color: #68a6d3;
}

.status-Organization {
  background-color: #997fda;
}

.status-Component {
  background-color: #efdbb6;
}

.status-Unit {
  background-color: #ef7d25;
}

.status-System {
  background-color: #748385;
}

.status-Facility {
  background-color: #65abaa;
}
